#:schema node_modules/wrangler/config-schema.json
name = "trivia-jam"
main = "dist/index.js"
compatibility_date = "2024-09-25"

assets = { directory = "./public" }

kv_namespaces = [
  { binding = "KV_STORAGE", id = "7ca58075ccd54315b82982f3c8d0e32d" }
]

[define]
"process.env.REMIX_DEV_ORIGIN" = "'http://127.0.0.1:8002'"
"process.env.REMIX_DEV_SERVER_WS_PORT" = "8002"

[vars]
ACTOR_KIT_HOST = "trivia-jam.jonathanrmumm.workers.dev"

[[durable_objects.bindings]]
name = "REMIX"
class_name = "Remix"

[[durable_objects.bindings]]
name = "SESSION"
class_name = "Session"

[[durable_objects.bindings]]
name = "GAME"
class_name = "Game"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["Remix", "Session", "Game"]

[observability]
enabled = true
